@using Microsoft.AspNetCore.Identity
@using WebChess.Areas.Identity.Data
@inject SignInManager<WebChessUser> SignInManager
@inject UserManager<WebChessUser> UserManager

    <ul class="navbar-nav ml-auto nav-flex-icons">
        @if (SignInManager.IsSignedIn(User))
        {
            var user = await UserManager.FindByNameAsync(User.Identity.Name);
            @if (await UserManager.IsInRoleAsync(user, "Admin"))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-page="/UsersList">Users</a>
                </li>
            }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-lg fa-user"> </i> @User.Identity.Name
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                        <a class="dropdown-item" asp-page="/Profile" asp-route-name="@User.Identity.Name">Profile</a>
                        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">Account</a>
                    </div>
                </li>


                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <button type="submit" class="nav-link btn btn-link text-dark"><i class="fas fa-lg fa-sign-out-alt" aria-hidden="true"></i></button>
                    </form>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                </li>
            }
        </ul>
