@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center homepage h-100">
    <h1 class="display-4 pt-5">Welcome to WEBCHESS</h1>
    <p>Create profile, play and analyse your games</p>
</div>
